In [1]:
import pandas as pd
import numpy as np
import pickle
df=pd.read_csv('diabetes.csv')
df.head()

,patient_number,cholesterol,glucose,hdl_chol,chol_hdl_ratio,age,gender,height,weight,bmi,systolic_bp,diastolic_bp,waist,hip,waist_hip_ratio,diabetes
0,1,193,77,49,3.9,19,female,61,119,22.5,118,70,32,38,0.84,No diabetes
1,2,146,79,41,3.6,19,female,60,135,26.4,108,58,33,40,0.83,No diabetes
2,3,217,75,54,4.0,20,female,67,187,29.3,110,72,40,45,0.89,No diabetes
3,4,226,97,70,3.2,20,female,64,114,19.6,122,64,31,39,0.79,No diabetes
4,5,164,91,67,2.4,20,female,70,141,20.2,122,86,32,39,0.82,No diabetes

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   patient_number   390 non-null    int64
 1   cholesterol      390 non-null    int64
 2   glucose          390 non-null    int64
 3   hdl_chol         390 non-null    int64
 4   chol_hdl_ratio   390 non-null    float64
 5   age              390 non-null    int64
 6   gender           390 non-null    object
 7   height           390 non-null    int64
 8   weight           390 non-null    int64
 9   bmi              390 non-null    float64
 10  systolic_bp      390 non-null    int64
 11  diastolic_bp     390 non-null    int64
 12  waist            390 non-null    int64
 13  hip              390 non-null    int64
 14  waist_hip_ratio  390 non-null    float64
 15  diabetes         390 non-null    object
dtypes: float64(3), int64(11), object(2)
memory usage: 48.9+ KB

In [3]:
df['diabetes'].value_counts()

No diabetes    330
Diabetes        60
Name: diabetes, dtype: int64

In [4]:
df.isna().sum()

patient_number     0
cholesterol        0
glucose            0
hdl_chol           0
chol_hdl_ratio     0
age                0
gender             0
height             0
weight             0
bmi                0
systolic_bp        0
diastolic_bp       0
waist              0
hip                0
waist_hip_ratio    0
diabetes           0
dtype: int64

In [5]:
df['gender']=df['gender'].replace('female',1)
df['gender']=df['gender'].replace('male',2)

In [6]:
df['diabetes']=df['diabetes'].replace('No diabetes',0)
df['diabetes']=df['diabetes'].replace('Diabetes',1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   patient_number   390 non-null    int64
 1   cholesterol      390 non-null    int64
 2   glucose          390 non-null    int64
 3   hdl_chol         390 non-null    int64
 4   chol_hdl_ratio   390 non-null    float64
 5   age              390 non-null    int64
 6   gender           390 non-null    int64
 7   height           390 non-null    int64
 8   weight           390 non-null    int64
 9   bmi              390 non-null    float64
 10  systolic_bp      390 non-null    int64
 11  diastolic_bp     390 non-null    int64
 12  waist            390 non-null    int64
 13  hip              390 non-null    int64
 14  waist_hip_ratio  390 non-null    float64
 15  diabetes         390 non-null    int64
dtypes: float64(3), int64(13)
memory usage: 48.9 KB

In [8]:
X=df[['cholesterol','glucose','hdl_chol','chol_hdl_ratio','age','gender','height','weight','bmi','systolic_bp','diastolic_bp','waist','hip','waist_hip_ratio']]

In [9]:
X

,cholesterol,glucose,hdl_chol,chol_hdl_ratio,age,gender,height,weight,bmi,systolic_bp,diastolic_bp,waist,hip,waist_hip_ratio
0,193,77,49,3.9,19,1,61,119,22.5,118,70,32,38,0.84
1,146,79,41,3.6,19,1,60,135,26.4,108,58,33,40,0.83
2,217,75,54,4.0,20,1,67,187,29.3,110,72,40,45,0.89
3,226,97,70,3.2,20,1,64,114,19.6,122,64,31,39,0.79
4,164,91,67,2.4,20,1,70,141,20.2,122,86,32,39,0.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,227,105,44,5.2,83,1,59,125,25.2,150,90,35,40,0.88
386,226,279,52,4.3,84,1,60,192,37.5,144,88,41,48,0.85
387,301,90,118,2.6,89,1,61,115,21.7,218,90,31,41,0.76
388,232,184,114,2.0,91,1,61,127,24.0,170,82,35,38,0.92
389,165,94,69,2.4,92,1,62,217,39.7,160,82,51,51,1.00

In [10]:
Y=df['diabetes']

In [11]:
from sklearn.naive_bayes import MultinomialNB

In [12]:
#Training
clf = MultinomialNB()
clf.fit(X, Y)

MultinomialNB()

In [13]:
#Testing
clf.predict(np.array([232,184,114,2,91,1,61,127,24,170,82,35,38,0.92]).reshape(1,-1))

C:\Users\smsm\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [20]:
#Testing
from sklearn.model_selection import train_test_split
from sklearn import metrics
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2) 
y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9230769230769231

In [21]:
pickle.dump(clf,open('diabetes_model.sav','wb'))